.formWrapper {
  width: 100%;
}

.formWrapper > div {
  padding: 0.5rem 0;
}

.formWrapper label {
  font-size: 1.125rem;
  font-weight: 500;
}

.formWrapper input {
  transition: 0.1s ease;
  width: 100%;
  margin-top: 0.25rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  border: 1px solid #ddd;
  font-size: 1rem;
  color: #666;
}

.formWrapper input:focus {
  outline: none;
  border: 1px solid #222;
  color: #222;
}

.formWrapper button {
  transition: 0.15s ease;
  margin-top: 1rem;
  padding: 1rem 2rem;
  border: none;
  color: #fff;
  border-radius: 0.5rem;
  background: #222;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.formWrapper button:hover {
  background: #555;
}
